# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/

# Temporary Excel lock files
~$*.xlsx
*.tmp

# OS specific files
.DS_Store
Thumbs.db
